*{
    color: rgb(0, 0, 0);
  }
  
  body{
    background-color: rgba(70, 69, 69, 0.877);
    
  }
  
  p{
    font-size: 24px;
  }
  
  #jumbotron{
    background-color: rgba(28, 154, 204, 0.801);
    border: whitesmoke;
    border-bottom-style: solid;
    border-width: 5px;
  }
  
  .weatherBanner{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(46, 199, 219);
  }
  
  #headDivider{
    height: 3px;
    width: max-content;
    text-align: center;
  }
  
  .btn{
    background-color: white;
  }

  #currentDayCard{
      background-color: #007bff;;
  }

  .favorable{
    background-color: lightgreen;
  }

  .moderate{
    background-color: rgb(247, 142, 45);
  }

  .severe{
    background-color: rgb(231, 36, 29);
  }

  .startHidden{
      visibility: hidden;
  }

  #fiveDayForecast{
    color: white;
  }
  #searchForACity{
        color: white;
  }